@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?b6f3f5dbe5b8f55a0a961f3706fd8925") format("truetype"),
url("./flaticon.woff?b6f3f5dbe5b8f55a0a961f3706fd8925") format("woff"),
url("./flaticon.woff2?b6f3f5dbe5b8f55a0a961f3706fd8925") format("woff2"),
url("./flaticon.eot?b6f3f5dbe5b8f55a0a961f3706fd8925#iefix") format("embedded-opentype"),
url("./flaticon.svg?b6f3f5dbe5b8f55a0a961f3706fd8925#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-left-up:before {
    content: "\f101";
}
.flaticon-down-right:before {
    content: "\f102";
}
.flaticon-double-arrows:before {
    content: "\f103";
}
.flaticon-zoom-in:before {
    content: "\f104";
}
.flaticon-zoom-out:before {
    content: "\f105";
}
.flaticon-expand:before {
    content: "\f106";
}
.flaticon-location:before {
    content: "\f107";
}
