/vendor
/drush/Commands/contrib/

/web/core
/web/sites/*/files
/web/sites/*/private
/web/sites/*/settings*.php
/web/sites/*/services*.yml
/web/sites/simpletest

/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/

/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.ht.router.php
/web/.htaccess
/web/INSTALL.txt
/web/README.txt
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/robots.txt
/web/update.php
/web/web.config
/web/modules/README.txt
/web/profiles/README.txt
/web/sites/README.txt
/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/themes/README.txt

.env
.DS_Store
.idea
.editorconfig
.gitattributes

/privatefiles/*
!/privatefiles/backup_migrate
/privatefiles/backup_migrate/*
!/privatefiles/backup_migrate/dev

/**/node_modules
/web/sites/local.development.services.yml
/**/maps

docker-compose/*/solrdata
